/* ---------- Global ---------- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "outfit", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ---------- /Global ---------- */

/* ---------- Main Container ---------- */
.main {
  background-color: hsl(217, 54%, 11%);

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: hsl(216, 50%, 16%);

  max-width: 18.75rem;
  height: auto;
  border-radius: 0.8125rem;
  box-shadow: 0 1.625rem 0.3125rem 1.25rem hsla(216, 50%, 10%, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ---------- /Main Container ---------- */

/* ---------- Main Image---------- */
.main-image {
  width: 16.25rem;
  height: 16.25rem;
  margin: 1.25rem 1.25rem 0px 1.25rem;
}

#cube-image {
  width: 16.25rem;
  height: 16.25rem;
  border-radius: 0.5rem;
}

#cube-image:hover {
  opacity: 0.35;
}

.main-image:hover {
  background-color: hsla(178, 100%, 50%, 0.45);

  border-radius: 0.3125rem;
  background-size: 2.8125rem 2.8125rem;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(1.5);
  background-image: url(images/icon-view.svg);
}
/* ---------- /Main Image---------- */

/* ---------- Main Text---------- */
h1 {
  font-size: 1.25rem;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}

p {
  font-size: 0.9375rem;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
}

.text {
  margin-top: 0.9375rem;
}

.main-text {
  margin: 0 1.375rem 0 1.375rem;
}

h1:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}
/* ---------- /Main Text---------- */

/* ---------- Main Icons---------- */
.ethereum-icon p {
  font-size: 0.9375rem;
  font-weight: 600;
  color: hsl(178, 100%, 50%);
}

.clock-icon p {
  font-size: 0.9375rem;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
}

.main-icons {
  margin: 1.25rem 1.25rem 0 1.25rem;
  border-bottom: 1px solid hsl(215, 51%, 70%);
  padding-bottom: 1.25rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ethereum-icon {
  margin-right: 2.125rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.clock-icon {
  margin-left: 2.125rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#icon {
  margin-right: 0.625rem;
}
/* ---------- /Main Icons---------- */

/* ---------- Main Profile---------- */
span {
  color: hsl(0, 0%, 100%);
}

.profile-text p {
  font-size: 0.9375rem;
  font-weight: 400;
  color: hsl(215, 51%, 70%);
}

.main-profile {
  margin: 1.25em 3.125rem 1.875rem 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#avatar-image {
  width: 1.875em;
  height: 1.875em;
  border: 0.0625rem solid hsl(0, 0%, 100%);
  border-radius: 50%;
  margin-right: 0.9375rem;
}

span:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}
/* ---------- /Main Profile---------- */
