* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "outfit", sans-serif;
}

.main {
  background-color: hsl(217, 54%, 11%);

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 300px;
  height: auto;
  background-color: hsl(216, 50%, 16%);
  border-radius: 12.5px;
  box-shadow: 0 25px 5px 20px hsla(216, 50%, 10%, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* main image */
.main-image {
  width: 260px;
  height: 260px;
  margin: 20px 20px 0px 20px;
}

#cube-image {
  width: 260px;
  height: 260px;
  border-radius: 7.5px;
}

#cube-image:hover {
  opacity: 0.35;
}

.main-image:hover {
  background-color: hsla(178, 100%, 50%, 0.45);
  border-radius: 5px;
  cursor: pointer;
  background-size: 45px 45px;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(1.5);
  background-image: url(images/icon-view.svg);
}

view-image {
}

/* main text */
h1 {
  font-size: 20px;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}

p {
  font-size: 15px;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
}

.text {
  margin-top: 15px;
}
.main-text {
  margin: 0 20px 0 20px;
}

h1:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}

/* main icons*/

h2 {
  font-size: 15px;
  font-weight: 600;
  color: hsl(178, 100%, 50%);
}

h3 {
  font-size: 15px;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
}
.main-icons {
  margin: 20px 20px 0 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ethereum-icon {
  margin-right: 35px;
}

.clock-icon {
  margin-left: 35px;
}

#icon {
  margin-right: 10px;
}

/* main break*/
.main-divider {
  margin-top: 20px;
}
.divider-container {
  width: 260px;
  height: 0.1px;
  background-color: hsl(215, 51%, 70%);
  display: inline-blocks;
}

/* main profile*/
h4 {
  font-size: 15px;
  font-weight: 400;
  color: hsl(215, 51%, 70%);
}

span {
  color: hsl(0, 0%, 100%);
}

.main-profile {
  margin: 20px 50px 30px 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#avatar-image {
  width: 30px;
  height: 30px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  margin-right: 15px;
}

span:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}
